@import '~sass/styles';

:host {
  display: block;
  border: 1px solid black;
}

:host(:hover) {
    border: dashed;
}

:host-context(.#{$theme-light}) h2 {
  background-color: #aaaaaa;
}

:host-context(.#{$theme-dark}) h2 {
  color: white;
  background-color: black;
}
