<app-sample></app-sample>

<app-dynamic-form></app-dynamic-form>

<div
  [class.theme-dark]="theme==='theme-dark'"
  [class.theme-light]="theme==='theme-light'">
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <router-outlet></router-outlet>
  <app-messages [template]="testTemplate"
    [dataContext] = "heroes[0]"></app-messages>
  <button (click)="changeTheme()">theme</button>
  <button (click)="close()">remove MessagesComponent instance</button>
</div>
<ng-template #testTemplate
  let-hero="data">
  <button>hi test {{hero?.name}}</button>
</ng-template>
<ng-template appDynamicAnchor></ng-template>
